body {
    margin: 0;
    padding: 0;
    background-color: #f4f5f9;
}

h1, h2 {
    color: #0d286d;
}

.app-layout {
    display: flex;
    align-items: start;
}

.main-container {
    flex: 1;
    padding-top: var(--navbar-height);
}

:root {
    --sidebar-width: 250px;
    --navbar-height: 60px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.main-content {
    padding: 30px;
    display: flex;
    flex: 1;
    gap: 12px;
    flex-wrap: wrap;
}